Stephanie K. Ananth (sananth)
DUE 05-08 at 20:00

TP1 grading meeting
You must meet with your TP mentor to discuss your tp1 deliverable, in any case no later than Tue 18-Apr at 11:59pm. For those of you who are traveling, this meeting may occur via Skype. However, if you cannot do that, then you must submit your tp1 deliverable early and have this meeting prior to the tp1 deadline. In all cases, this meeting must occur by the Tue 18-Apr 11:59pm deadline (which is separate from the tp1 deadline, which is 8pm that same day).

Deliverable previews - optional
This deliverable includes several items that are technical and complicated, including your proposal, competitive analysis, storyboard, etc. To increase the chances that you are meeting the expected standards for this project, you are strongly encouraged to review these deliverables with your mentor prior to the deadline, perhaps even several times. In particular, you will want to submit multiple drafts of your project proposal to your mentor well ahead of the deadline, and then have numerous discussions on the feasibility and suitability of your proposal during this phase of the project.

Project zip file (under 10 MB)
    Project proposal -> List of all modules/technologies
    Competitive analysis -> Positives and negative
    Storyboard
    Code artifacts -> (200 - 400 lines)
    Timesheet
    
Technology demonstrations
For each module/technology you listed in your proposal, you must include a demonstration of your suitable competency with that technology. This demonstration will be done in person at your meeting, but you also need to include in your submission the code artifacts and any other materials required in this regard. Note: anyone who cannot demonstrate mastery of their required technologies by this date will have to modify their term project to no longer use those technologies. Your mentor will determine what "suitable competency" means, but it is not enough to merely run a demo that you downloaded and did not modify in some meaningful way.
