Due 05-08 at 20:00

TP1 grading meeting
Deliverable previews - optional
Project zip file
    Project proposal -> List of all modules/technologies
    Competitive analysis -> Positives and negative
    Storyboard
    Code artifacts -> (200 - 400 lines)
    Timesheet
Technology demonstrations
